<style>
.zoom {
  margin-top: 50px;
  transition: transform 1s; /* Animation */
}

.zoom:hover {
  transform: scale(1.2); /* (100% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
</style>

.dokumentDiv {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
