<style>
.zoom {
  transition: transform .5s; /* Animation */
}

.zoom:hover {
  transform: scale(0.5); /* (100% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.zoomer {
  transition: transform .5s; /* Animation */
}

.zoomer:hover {
  transform: scale(1); /* (100% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.zoomi {
  transition: transform .5s; /* Animation */
}

.zoomi:hover {
  transform: scale(1.5); /* (100% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


</style>
